<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVCHello0427:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMVCHello0427_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringMVCHello0427/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVCHello0427" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring-4.3.16.RELEASE" />
          <element id="library" level="project" name="Spring MVC-4.3.16.RELEASE" />
        </element>
      </element>
    </root>
  </artifact>
</component>